.nav-link:focus, 
.nav-link.active {
    color: red !important;
}

.navbar.bg-body-tertiary {
    background-color: white !important;
}

.phone.link:hover,
.phone.link.active {
    color: black !important;
}

